.List{  
    color: cornsilk;
    font-family: Programme, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.45;
    text-size-adjust: 100%;
    background-color: black; 
    justify-content: space-around; 
    -ms-box-orient: horizontal;
    flex-Grow: 5;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
    
}
.box {
    flex-grow: 3;
    padding-left: 40%;
    padding-right: 40em;
    padding: 10px;
    text-align: center;
  }
